/* main 1*/
/* main 2*/
/* neutral 1*/
/* neutral 2*/
.bg_white {
  background: #fff;
}

body {
  background: linear-gradient(0deg, #ecf8ff, white 60%);
}

.salesforce {
  background: #00a1e0;
  padding: 3rem 15px;
  color: #fff;
  margin-top: 4rem;
  position: relative;
}
.salesforce__banner {
  width: 90% !important;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}
.salesforce__banner h2 {
  font-weight: 600;
  font-size: 3.5rem;
}
.salesforce__banner h2 span {
  font-weight: 400;
}
@media (max-width: 992px) {
  .salesforce__banner {
    flex-direction: column;
  }
}
.salesforce__banner .banner__heading {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .salesforce__banner .banner__heading {
    padding-bottom: 2rem;
  }
}
.salesforce__banner .banner__descript {
  padding: 0 0 0 2rem;
  line-height: 26px;
}
.salesforce__logo {
  background: rgba(236, 248, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 275px;
  margin-top: 30px;
  border-radius: 10px;
}

#salesfoceServices {
  width: 100% !important;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 2rem;
}
@media (max-width: 992px) {
  #salesfoceServices {
    padding-left: 0;
    padding-right: 0;
  }
}
#salesfoceServices .salesforce__services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  text-align: center;
}
@media (max-width: 992px) {
  #salesfoceServices .salesforce__services {
    width: 100%;
    margin: 1.5rem 1rem;
  }
}
@media (max-width: 768px) {
  #salesfoceServices .salesforce__services {
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}
#salesfoceServices .salesforce__services__cardItem {
  width: 32%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-top: 6px solid #ecf8ff;
  box-shadow: 0 0 20px rgba(193, 189, 189, 0.2) !important;
  background: #fff;
  position: relative;
  transition: all 0.3s;
}
#salesfoceServices .salesforce__services__cardItem:hover {
  transform: scale(1.05);
  transition: all 0.3s;
  color: #003b93;
}
@media (max-width: 992px) {
  #salesfoceServices .salesforce__services__cardItem {
    width: 48%;
  }
}
@media (max-width: 768px) {
  #salesfoceServices .salesforce__services__cardItem {
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}
#salesfoceServices .salesforce__services__cardItem .cardItem_desc {
  width: 100%;
}
#salesfoceServices .salesforce__services__cardItem .cardItem_desc h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
#salesfoceServices .salesforce__services__cardItem .cardItem_desc p {
  color: #888;
}
#salesfoceServices .salesforce__services__cardItem img {
  height: 130px;
  padding: 1.5rem 0;
}
#salesfoceServices .salesforce__services__cardItem a {
  color: #0b5cab;
  text-decoration: underline;
}

.header-section {
  background: #112d84;
  position: relative;
  float: left;
  width: 100%;
  background-position: top center;
  background-size: cover;
}
.header-section .header-caption {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}
.header-section .header-caption .capation-inner {
  padding: 130px 50px 60px 0;
}
.header-section .header-caption .capation-inner h1 {
  font-size: 32px;
  color: #fff;
}
@media (max-width: 768px) {
  .header-section .header-caption .capation-inner {
    padding: 130px 0 50px;
  }
}
.header-section img {
  position: absolute;
  top: 58px;
  right: 0;
  z-index: 1;
}
@media (max-width: 992px) {
  .header-section img {
    top: -175px;
  }
}
@media (max-width: 768px) {
  .header-section img {
    top: -170px;
  }
}
@media (max-width: 540px) {
  .header-section img {
    display: none;
  }
}

.header-section.salesforce-banner-xs {
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-image: url(../images/salesforce-solution-banner.jpg);
}

.header-section.sap-banner-xs {
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-position: left;
  background-size: cover;
  background-image: url(../images/cloud-solution.jpg);
}

.header-section.salesforce-banner {
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  background-position: left;
  background-size: cover;
  margin: 60px 0 0;
  padding: 10px 60px 60px 0 !important;
  background-image: url(../images/salesforce-banner.jpg);
  height: 450px;
}
.header-section.salesforce-banner .head-line-pipe {
  margin-top: 1rem;
  border-left: 3px solid #ff8831;
  padding-left: 15px;
  margin-left: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.header-section.salesforce-banner h1.bannerTitle {
  font-size: 300%;
  font-weight: 700;
  line-height: 1.5 !important;
  line-height: 65px;
  margin-top: 1rem;
  font-family: "Overpass", sans-serif;
}
.header-section.salesforce-banner h1.bannerTitle .skyBlue {
  color: skyblue;
}

.common-section {
  width: 100%;
  background: url(../images/30310_15.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 2.8rem 0 3.5rem;
  color: #000;
  float: left;
}
.common-section h2 {
  text-align: left;
  padding: 0.8rem;
  position: relative;
  z-index: 100;
  font-size: 24px;
}
.common-section h5 {
  font-weight: 400;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 15px;
}
.common-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}
.common-section .article-description {
  line-height: 40px;
}

.list-item-bullet {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.list-item-bullet li {
  display: block;
  margin-bottom: 0.3rem;
  color: #000;
  position: relative;
  padding-left: 2rem;
  font-size: 15px;
  line-height: 1.8rem;
}
.list-item-bullet li i {
  padding-right: 1rem;
  color: #003b93;
  position: absolute;
  left: 0;
  top: 4px;
}

@media (max-width: 1180px) {
  .menu > ul > li a {
    padding: 1.5rem 1em;
  }
}
.intro__description {
  width: 100%;
  background: #fff;
  display: flex;
  padding: 3rem 0;
}
.intro__description h2 {
  text-align: left;
  padding: 0.8rem 0;
  position: relative;
  z-index: 100;
  font-size: 30px;
  font-weight: 500;
}
.intro__description h5 {
  font-weight: 400;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 16px;
}
.intro__description .article-description {
  line-height: 40px;
}