/* main 1*/
/* main 2*/
/* neutral 1*/
/* neutral 2*/
.bg_white {
  background: #fff;
}

.footer_logo {
  margin-top: -30px;
}

.request-demo {
  padding: 2rem 3rem;
  background: #003b93 url(../images/contact_us.jpg);
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  height: 300px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  float: left;
}
.request-demo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /*background: rgba(0,59,147,0.8);*/
  background: rgba(0, 59, 147, 0.8);
  width: 100%;
  height: 100%;
}
@media (max-width: 640px) {
  .request-demo {
    padding: 3rem 1rem;
  }
}
.request-demo a {
  color: #fff;
  text-transform: none !important;
}
.request-demo .effect-xl {
  width: 250px;
}
.request-demo .section-heading {
  color: #fff;
  margin-bottom: 2.5rem;
  font-weight: 700;
}
.request-demo .section-heading span {
  font-weight: 500;
}

.footer {
  float: left;
  width: 100%;
  background: #061a39;
  color: #fff;
  padding: 2.5rem 0 0;
}
.footer h3 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.footer .tradMarkFooter {
  font-weight: 600;
  color: #fff;
  font-size: 0.65rem;
  vertical-align: text-top;
}
@media (max-width: 768px) {
  .footer h3 {
    margin-top: 2rem;
  }
}

.footerList {
  padding: 0;
  margin: 0;
}
.footerList li {
  display: block;
  padding: 0;
  list-style-type: none;
  position: relative;
}
.footerList li a {
  padding-bottom: 0.3rem;
  margin: 0 0 0.5rem;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
@media (max-width: 540px) {
  .footerList li a {
    display: block;
    padding: 0.8rem 0;
    margin: 0;
    border-bottom: 1px solid #293360;
    font-size: 16px;
  }
}
.footerList li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #ff8831;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footerList li a:hover:after {
  width: 100%;
  left: 0;
}
.footerList li:focus {
  outline: 0;
  box-shadow: 0;
}
.footerList li span {
  margin: 0 1.334rem;
  color: #fff;
}
.footerList p {
  font-size: 0.9rem;
}

.brand-caption {
  font-size: 0.875rem;
  padding: 1rem 1rem 0 0;
}

.copyright {
  background: #020f24;
  color: #fff;
  padding: 1.3rem 0 1rem;
  font-size: 0.8rem;
  margin-top: 2rem;
}
@media (max-width: 540px) {
  .copyright {
    width: 100%;
  }
  .copyright .pr-3 {
    padding-right: 0 !important;
    padding-bottom: 0.5rem;
  }
}
.copyright .copyrightLink {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.copyright li {
  display: inline-block;
}
.copyright li a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.3rem;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.copyright li a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #ff8831;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.copyright li a:hover:after {
  width: 100%;
  left: 0;
}

.social-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: contents;
}
.social-buttons li {
  display: inline-block;
  margin: 1rem 0.8rem 1rem 0;
}
@media (max-width: 640px) {
  .social-buttons li {
    margin-right: 0.6rem;
  }
}
.social-buttons li a .social-margin {
  margin-right: 15px;
}
.social-buttons li:hover, .social-buttons li:focus, .social-buttons li:active {
  text-decoration: none;
}
.social-buttons li a .social-icon {
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}
.social-buttons li a .facebook {
  font-size: 14px;
  padding-top: 9px;
  border-color: #3b5998;
  background-color: #3b5998;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
}
.social-buttons li a .facebook:hover {
  background-color: #fff;
  color: #3b5998;
}
.social-buttons li a .twitter {
  font-size: 14px;
  padding-top: 10px;
  padding-left: 2px;
  background-color: #f2f2f2;
  border-color: #ededed;
  color: #fff;
}
.social-buttons li a .twitter:hover {
  background-color: #fff;
  color: #fff;
}
.social-buttons li a .twitter svg {
  width: 12px;
}
.social-buttons li a .twitter .twit_x {
  filter: brightness(0) invert(0);
}
.social-buttons li a .twitter:hover .twit_x {
  filter: brightness(0) invert(0);
}
.social-buttons li a .google-plus {
  font-size: 14px;
  padding-top: 9px;
  padding-left: 2px;
  background-color: #ff8831;
  color: #fff;
  border-color: #ff8831;
}
.social-buttons li a .google-plus:hover {
  background-color: #fff;
  color: #ff8831;
}
.social-buttons li a .linkedin {
  font-size: 14px;
  padding-top: 8px;
  padding-left: 1px;
  background-color: #0976b4;
  color: #fff;
  border-color: #0976b4;
}
.social-buttons li a .linkedin:hover {
  background-color: #fff;
  color: #0976b4;
}
.social-buttons li a .youtube {
  font-size: 14px;
  padding-top: 9px;
  padding-left: 0px;
  background-color: #bb0000;
  color: #fff;
  border-color: #bb0000;
}
.social-buttons li a .youtube:hover {
  background-color: #fff;
  color: #bb0000;
}
.social-buttons .social-icon:hover {
  transform: scale(1.3);
}

.map {
  width: 350px;
  margin: 0 auto;
  padding: 0;
  min-height: 200px;
  position: relative;
}
.map .plus-dot {
  border-radius: 100px;
  display: inline-block;
}
.map .plus-dot i {
  color: #ff8831;
  font-size: 0.65rem;
}
.map .plus-dot a {
  text-decoration: none;
}
.map .india {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}
.map .usa {
  position: absolute;
  left: 1%;
  z-index: 0 !important;
  top: 34%;
  transform: translate(50%, -50%) !important;
  -webkit-transform: translate(50%, -50%) !important;
  -moz-transform: translate(50%, -50%) !important;
  -ms-transform: translate(50%, -50%) !important;
  -o-transform: translate(50%, -50%) !important;
}
.map .uk {
  position: absolute;
  left: 0;
  z-index: 0 !important;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.map .netherland {
  position: absolute;
  right: 58%;
  bottom: 74%;
  z-index: 0 !important;
  transform: translate(50%, 50%);
}
.map .noida {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 0 !important;
  transform: translate(-50%, -50%);
}
.map .delhi {
  position: absolute;
  right: 40%;
  top: 44%;
  z-index: 0 !important;
  transform: translate(50%, -50%);
}
.map .mapImg {
  width: 400px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-left: -63px;
  margin-top: -30px;
}

.pulse {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
a#backToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 3%;
  right: 1%;
  display: none;
  outline: none;
  background: #ff8831;
  color: #fff;
  text-align: center;
  border-radius: 100%;
  z-index: 1000;
  font-size: 1.5rem;
}
@media (max-width: 540px) {
  a#backToTop {
    bottom: 6%;
    right: 4%;
  }
}
a#backToTop i {
  padding-top: 5px;
}

.address-info {
  width: 380px;
  padding: 10px;
  height: auto;
  background: #fff;
  color: #000;
  position: absolute;
  left: 0 !important;
  right: 0;
  top: 8px !important;
  border-radius: 0.12rem;
  bottom: 0;
}
.address-info a {
  color: #000;
}
.address-info a .vew-map {
  width: 15px;
  float: right;
}
@media (max-width: 768px) {
  .address-info {
    top: -78px !important;
    padding: 10px 30px !important;
  }
  .address-info .media img {
    display: none;
  }
  .address-info .media-body a img {
    display: block !important;
  }
  .address-info .media {
    display: block;
    padding: 10px 40px;
  }
}
.address-info .media {
  font-size: 0.57rem;
}
.address-info .media .media-body {
  position: relative;
  font-size: 14px !important;
}
.address-info .media .media-body a {
  position: absolute;
  top: 0;
  right: 0;
}
.address-info .media .media-body img {
  width: 14px;
}
.address-info .media .media-body p {
  margin-bottom: 0.5rem;
}
.address-info .media .media-body i {
  color: #003b93;
}
.address-info .media .media-body .phone,
.address-info .media .media-body .email {
  font-weight: 500;
}
.address-info .media .media-body h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.address-info .media img {
  width: 118px;
}

@media (max-width: 768px) {
  .foo-us_mobile {
    margin-left: -30px !important;
    background: #fff;
  }
  .foo-us_mobile .card-info {
    margin-left: -26px;
  }
  .foo-uk_mobile {
    margin-left: 0px !important;
    background: #fff;
  }
  .foo-uk_mobile .card-info {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .foo-nl_mobile {
    margin-left: -8px;
    background: #fff;
  }
}
@media (max-width: 768px) {
  .foo-up_mobile {
    margin-left: 0;
    background: #fff;
  }
}
@media (max-width: 768px) {
  .foo-dl_mobile {
    margin-left: 0;
    background: #fff;
  }
}
@media (min-width: 1366px) {
  .address-info {
    left: -213px !important;
  }
}
.twitterX {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  text-align: center;
  margin-top: 6px;
  background-color: #f1f1f1;
  border-color: #bebebe;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  height: 40px;
  width: 40px;
}
.twitterX:hover {
  background-color: #d1d1d1;
  color: #fff;
}
.twitterX svg {
  width: 18px;
}

.dropdown-menu-right {
  padding: 10px;
  width: 400px;
  z-index: 1000000 !important;
}
.dropdown-menu-right img {
  margin-bottom: 10px;
  height: 110px;
  width: 136px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dropdown-menu-right .media .media-body a {
  position: absolute;
  top: 10px;
  right: 10px;
}
.dropdown-menu-right .media-body {
  font-size: 14px !important;
}
.dropdown-menu-right .media-body h6 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.dropdown-menu-right .media-body i {
  color: #003b93;
}
.dropdown-menu-right .media-body .vew-map {
  width: 15px !important;
  height: 15px !important;
}

.USA {
  transform: translate3d(-127px, -144px, 0px) !important;
  -webkit-transform: translate3d(-127px, -144px, 0px) !important;
  -moz-transform: translate3d(-127px, -144px, 0px) !important;
  -ms-transform: translate3d(-127px, -144px, 0px) !important;
  -o-transform: translate3d(-127px, -144px, 0px) !important;
}

.NLD {
  transform: translate3d(-208px, -144px, 0px) !important;
  -webkit-transform: translate3d(-208px, -144px, 0px) !important;
  -moz-transform: translate3d(-208px, -144px, 0px) !important;
  -ms-transform: translate3d(-208px, -144px, 0px) !important;
  -o-transform: translate3d(-208px, -144px, 0px) !important;
}

.IND {
  transform: translate3d(-277px, -144px, 0px) !important;
  -webkit-transform: translate3d(-277px, -144px, 0px) !important;
  -moz-transform: translate3d(-277px, -144px, 0px) !important;
  -ms-transform: translate3d(-277px, -144px, 0px) !important;
  -o-transform: translate3d(-277px, -144px, 0px) !important;
}