body {overflow-x: hidden !important;}
.content-wraper{width: 90% !important; margin: 0 auto;}

.btn-round{background: rgb(252,113,25);
background:linear-gradient(90deg, rgb(252, 113, 25) 0%, rgb(238, 122, 28) 100%, rgb(239, 121, 28) 100%); 
border-radius: 100px; padding:0.750rem 2rem;}
.btn-round i{margin-left: 1rem}

.cta-button{margin-top: 3.5rem}
.btn-round.btn-orange{color:#fff; font-size: 1rem; font-weight: 600;}
.btn-round.btn-orange:hover{color:#fff; text-decoration: none;}
/*----btn animation---------------------------------------------------*/
.btn-blue { background-color: #003b93 !important; border-radius: 100px; border:3px solid #003b93;
  position: relative; display: inline-block; font-size:inherit; font-weight: 600; color:#fff;
  overflow: hidden; margin: 10px 10px 0 0; padding: 10px 20px; margin: 1rem auto; z-index: 1;
   }
.btn-blue span { position: absolute; display: block; width: 0; height: 0; border-radius: 50%;
  background-color: #fff;-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);z-index: -1;}
.btn-blue:hover {color: #000; text-decoration: none;}
.btn-blue:hover span {width: 225%; height: 562.5px;}
.btn-blue:active {background-color: #003b93;}

.btn-orange.btn-pdf:hover{color: #fff !important; background: #ef630a !important;transition: 0.3s}
.btn-orange.btn-pdf:focus{color: #fff; border-color:#fc7119}

.btn-orange { background-color: #fc7119 !important; border-radius: 100px; border:3px solid #fc7119;
  position: relative; display: inline-block; font-size:inherit; font-weight: 600; color:#fff;
  overflow: hidden; margin: 10px 10px 0 0; padding: 10px 20px; margin: 1rem auto; z-index: 1;
   width: auto;}
.btn-orange span { position: absolute; display: block; width: 0; height: 0; border-radius: 50%;
  background-color: #fff;-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);z-index: -1;}
.btn-orange:visited{ background:#fff; border:3px solid #fc7119; color: #fff;}
.btn-orange:hover {color: #000 !important; text-decoration: none;
transition: 0.3s}
.btn-orange:hover span {width: 225%; height: 562.5px;}
.btn-orange:active {background-color: #fc7119;border:3px solid #fff;}
.btn-orange:focus {border:3px solid #fc7119; outline: none;}



.btn-orange-border-0 { background-color: #fc7119 !important; border-radius: 100px; border:0 solid #fc7119;
  position: relative; display: inline-block; font-size:inherit; font-weight: 600; color:#fff;
  overflow: hidden; margin: 10px 10px 0 0; padding: 12px 20px; margin: 1rem auto; z-index: 1;
  }
.btn-orange-border-0 span { position: absolute; display: block; width: 0; height: 0; border-radius: 50%;
  background-color: #fff;-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);z-index: -1;}
.btn-orange-border-0:hover {color: #000; text-decoration: none;}
.btn-orange-border-0:hover span {width: 225%; height: 562.5px;}
.btn-orange-border-0:active {background-color: #fc7119;border:3px solid #fff;}

.btn-white { background-color: #fff !important; border-radius: 100px; border:0 solid #fff;
  position: relative; display: inline-block; font-size:inherit; font-weight: 600; color:#000;
  overflow: hidden; margin: 10px 10px 0 0; padding: 12px 20px; margin: 1rem auto; z-index: 1;
   }
.btn-white span { position: absolute; display: block; width: 0; height: 0; border-radius: 50%;
  background-color: #000;-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);z-index: -1;}
.btn-white:hover {color: #fff; text-decoration: none;}
.btn-white:hover span {width: 225%; height: 562.5px;}
.btn-white:active {background-color: #f3f3f3;border:3px solid #fff;}

.heading--h2{color:#000; font-size: 2.2rem; margin-left: 5px;
padding: 0 0.2rem;line-height: 60px;font-weight: 600 !important;
margin-bottom: 0;position: relative;z-index: 1;margin-bottom: 10px;
text-align: left;float: none;}
/*----end btn animation---------------------------------------------------*/
.carousel-control-prev span,.carousel-control-next span{ background: transparent; color:#fff;line-height: 30px}
.carousel-control-next{width:10% !important;}
.carousel-control-prev{width:6% !important;}
@media(max-width: 992px){
  .firstStep .left{padding:5rem 2rem;}
  .btn-round{width:100%; white-space: nowrap;}
}


#myModal .modal-dialog, #myModal2 .modal-dialog, #myModal3 .modal-dialog, #myModal4 .modal-dialog,
#myModal5 .modal-dialog , #myModal6 .modal-dialog, #myModal7 .modal-dialog, #myModal8 .modal-dialog{
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

.modal-open .modal.modal-center {
    display: flex!important;
    align-items: center!important;
    
}

.sticky-top {
  padding-top: 70px;
}

/* the FIX */
@media (min-width: 768px) {
  .fix-enabled.modal-open .sticky-top,
.fix-enabled.modal-open .fixed-top {
    padding-right: 1rem !important;
    margin-right: 0 !important;
  }
  .fix-enabled.modal-open .fixed-top {
    right: 17px;
  }
}
/*--------------Carousel Css----------------------------------*/

.tabbed-content {
  background: #fff;
  margin: 0 auto;
}

.tabs ul {
  margin: 0;
  padding: 0 0 1em 0;
  font-weight: bold;
}
.tabs ul li {
  background: #fff;
}
.tabs ul li a {
  padding: 0.5em 0;
}
.item {
  margin-bottom: 2px;
}
.item::before {
  cursor: pointer;
  font-weight: normal;
  background: #eee;
  padding: 0.01em 0;
  display: block;
}
.item.active::before {
  background: #444;
  color: #eee;
}
.item.active .item-content {
  padding: 1em 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

@media all and (min-width: 800px) {
  .item.active .item-content {
    padding-top: 0;
  }

  .tabs-side .tabs li {
    margin-bottom: 2px;
  }
}
/* 
The project specific CSS starts here
This is the minimum CSS that you will need in order for this to work
*/
.tabbed-content .tabs {
  display: none;
}
.tabbed-content .item {
  min-height: 2em;
}
.tabbed-content .item::before {
  content: attr(data-title);
}
.tabbed-content .item .item-content {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.tabbed-content .item.active .item-content {
  opacity: 1;
  visibility: visible;
  height: auto;
}

@media all and (min-width: 800px) {
  .tabbed-content .tabs {
    display: block;
  }
  .tabbed-content .tabs li {
    display: inline-block;
  }
  .tabbed-content .tabs li a {
    display: block;
  }
  .tabbed-content .item {
    min-height: 0;
  }
  .tabbed-content .item::before {
    display: none;
  }
  .tabbed-content.tabs-side .tabs {
    width: 150px;
    float: left;
  }
  .tabbed-content.tabs-side .tabs li {
    display: block;
  }
  .tabbed-content.tabs-side .item {
    margin-left: 150px;
  }
}

.product-heading {
    font-size: 28px;
    line-height: 40px;
    font-weight: 600 !important;
}
@media(max-width:768px){
  .product-heading{padding:2rem 0}
}
.form-select {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url('../images/dropdown_arrow.png') no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: right 15px;
    width: 100px;
    text-indent: 0.01px;
    text-overflow: "";
    width: 100% !important;
    border: 1px solid #eaeaea !important;
    color: #495057;
    padding-left: 0.7rem;
    padding-top: 0.5rem;
}

.form-select:focus{border:1px solid rgba(252,113,25,0.3) !important; box-shadow: none;
box-shadow: 0 0 10px rgba(0,0,0,0.05) !important}

.messageBox {
    padding: 3em 2em;
    background: #ff8831;
    border: #fff solid 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px -2px 8px #555;
    color: #fff;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 1px;
}

#construction {
    font-family:'oswald'; text-transform: uppercase;
    text-align: center;
}

.absolute{position: absolute;}
.relative{position: relative !important;}
/*.negtive_margin_top{margin-top: -40px;}*/
.TopNegtive150{margin-top: -150px;}
.bg-white{background: #fff; padding:1rem; border-top-left-radius: 0.5rem;
border-top-right-radius: 0.5rem;position: relative;z-index: 1;}

.text-height-0 {
  line-height: 1!important;
}
.text-height-1 {
  line-height: 1.5!important;
}
.text-height-2 {
  line-height: 2!important;
}
.text-height-3 {
  line-height: 2.5!important;
}
.text-height-4 {
  line-height: 3!important;
}
.text-height-5 {
  line-height: 3.5!important;
}

/*=======================
technology page layout design
======================================================*/
.equal .aos-item{padding:18px}
.partner-card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.1),0 2px 10px 0 rgba(0,0,0,0.1); 
  transition: box-shadow .25s;
  display: block; transition: 0.3s;
  padding:1.250rem;
}
.partner-card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1);
  transform: scale(1.03);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.partner-card-content {
  padding: 2rem 0;
  width: 100%; 
}
.partner-card-title {
  margin-top:0px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600
}
.address{padding:3rem 0;text-align: center; font-size: inherit;}
.tele-phone{padding:0.5rem 0; text-align: center;font-size: inherit;
color:#ff8831; font-weight: 600}

.partner-card .var-img-card{object-fit: contain; height: 120px; padding:1rem 0;}
.partner-card .var-card-title{font-size: 1.250rem; text-align: center;
font-weight: 600}
.partner-card a{text-decoration: none; font-size: 0.850rem;color:#888;
transition: 0.3s}

.partner-card a:hover .a-link{color:#000; text-decoration: none;
background: #fc7119; color:#fff;padding:0.5rem 0.8rem;
  border-radius:0.2rem;}

.popup-overlay{
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.5); z-index: 10;
  display: none;
}
.my_popup-content{
  position: fixed;
  top:-150%;
  left:50%;
  transform: translate(-50%, -50%);
  max-width: 80%; width:500px; z-index: 100;
  background: #fff;padding:2.5rem;
}

.my_popup-content .popup-close-btn{
  position: absolute;
  top:5%;
  right:5%;
}

body.my_popup-content-active .my_popup-content{
  top:50%;

}

body.my_popup-content-active .popup-overlay{
  display: block;
}

.popup .modal-header{border-bottom:1px solid red;padding:1rem 0;
justify-content: left}
.popup .modal-header img{margin-right: 0} 
.popup .modal-header .modal-title{font-size: 1.5rem;font-weight: 700;
  margin-left: 1.5rem}
.popup .modal-content{border:none;}
.popup .modal-body{padding:1rem 0;}    
.close-btn {
    display:absolute;
    cursor:pointer;
    box-shadow: none; background: #ddd; border:none;
    border-radius: 100px; width: 30px; height: 30px; line-height: 25px;
    color:#fff; font-size: 1.5rem; font-weight: 600; transition: 0.3s
}
.close-btn:hover{transform: scale(1.15) rotate(360deg);background: #f00; }
.cancel:hover {
    background:rgb(255,50,50);
}

.button-close {
  background-color: #f00;
  color: white;
  text-decoration: none;
  border-radius: 60px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  overflow:hidden;
  width: auto; vertical-align: middle;
  max-width: 30px; 
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s; font-weight: 700;
}

.button-close:hover {
  max-width: 300px; color:#fff; text-decoration: none;
}

.icon {
  font-size: 16px;
  margin-right: 15px;
  padding: 0px 9px;
  display: flex; margin-top:-2px;
  align-items: center;
}

.text {
  white-space: nowrap;
  padding-right: 15px;
}

.heading--h2.display03 {
    font-size: 1.5rem;
    font-weight: 500 !important;
}
.bgNone{background: none !important}
.cta-section{background:rgba(39, 34, 98, 1); margin:0 2rem;
border-radius: 5px; padding:0.5rem 0; display: block;}

.exbold-heading {
    font-size: 35px;
    line-height: 40px;
    font-weight: 700 !important;
    text-align: center; color:#000;
}